.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

header {
  display: flex;
  justify-content: space-between;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  padding: 0.5rem;
  height: 2rem;
}
